{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div>    
        <p>{{content.country}}</p>
        <p>{{content.city}}</p>
        <p>{{content.currentTime}}</p>    
</div>
